<header>
    <div class="container">

        <div class="phone">
            <img src="/assets/outline_call_white_24dp.png">

            <span>
                (+381)637802415
            </span>

        </div>

        <div class="vl"></div>

        <div class="address">
            <img src="/assets/outline_location_on_white_24dp.png">

            <span>
                Brace Jerkovic 149,Belgrade,Serbia
            </span>
        </div>
        <div class="vl"></div>

        <div class="email">
            <img src="/assets/outline_email_white_24dp.png">

            <span>
                kosicluka97@gmailcom
            </span>
        </div>


    </div>
</header>