header {
    background-color : black;
}

.container{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

span{
    color : white;
}

.vl{
    display:flex;
    align-items: center;
    border-left: 1px solid white ;
    height:22px;
    margin-left: 5px;
    margin-right: 5px;
}





@media  (max-width: 1000px) {
       .vl{ margin-left: 0px;
        margin-right: 0px;
        border-left: 0px;
       }
       span{
           font-size: 6pt;
       }
    }

   