
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background-color :inherit;
}

.topnav .mat-toolbar{
  
  background-image:url(/assets/high-resolution-new-york-city-skyline-panorama-vast-xl.jpg) ;
  height : 10%;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


h1{
  font-size : 26pt;
  font-weight: bold;
  color : black;
}

.menu{
  display: flex;
  justify-content: end;
}

a{
  text-decoration: none;
  color : black;
}

.logout{
  color : Red;
}

@media only screen and (max-width: 800px){
  a{
    font-size: 10pt;
    margin:2px;
  }
  h1{
    font-size: 15pt;
  }

}


