.full-width-table {
    width: 100%;
   }
   
    /* mat-paginator{
   width: 100%;
   } */
   
   .container{
     width : 47%;
   } 
   
   .cards{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
   }
   
   mat-card{
     width : 200px;
     margin  : 30px;
   }
   
   .search{
     display: flex;
    align-items: center;
     flex-direction: column;
   }

   .filter-card{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
     width : 800px;
   }
   h2{
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .filtering{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }

   .location{
     display:flex;
     justify-content: center;
   }

   mat-form-field{
     margin:15px;
   }

   .additional{
     display: flex;
     justify-content: center;
   }