<div class="search">
    <div class="container">
        <mat-card class="filter-card">
            <mat-card-header>
                <!-- <mat-card-title>Filters</mat-card-title> -->
            </mat-card-header>
            <mat-card-content>
                <h2>Filters</h2>
                <div class="filtering">
                    <mat-form-field>
                        <mat-label>Type</mat-label>
                        <mat-select name="type" [(ngModel)]="type">
                            <mat-option *ngFor="let type of houseType" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class='location'>
                        <mat-form-field>
                            <mat-label>City</mat-label>
                            <mat-select name="city" (selectionChange)="changeCity($event)" [(ngModel)]='city'>
                                <mat-option *ngFor="let city of cities" [value]="city.city">
                                    {{city.city}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <mat-form-field>
                                <mat-label *ngIf="citySelected==true">Municipality</mat-label>
                                <mat-label *ngIf="citySelected==false">Pick city</mat-label>
                                <mat-select name="municipality" (selectionChange)="changeMunicipality($event)"
                                    [(ngModel)]='municipality'>
                                    <mat-option *ngFor="let municipality of municipalities"
                                        [value]="municipality.municipality">
                                        {{municipality.municipality}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label *ngIf="municipalitySelected ==true">Microlocation</mat-label>
                                <mat-label *ngIf="municipalitySelected ==false">Pick municipality</mat-label>
                                <mat-select name="microlocation" (selectionChange)="changeMunicipality($event)"
                                    [(ngModel)]='microlocation'>
                                    <mat-option *ngFor="let microlocation of microlocations"
                                        [value]="microlocation.microlocation">
                                        {{microlocation.microlocation}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="additional">
                        <mat-form-field class='inputText'>
                            <mat-label>Max. Price</mat-label>
                            <input type="text" matInput name='maxPrice' [(ngModel)]="maxPrice">
                        </mat-form-field>
                        <mat-form-field class='inputText'>
                            <mat-label>Min. SquareFootage</mat-label>
                            <input type="text" matInput name='SquareFootage' [(ngModel)]="squareFootage">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Rooms</mat-label>
                            <mat-select name="rooms" [(ngModel)]="room">
                                <mat-option *ngFor="let room of rooms" [value]="room">
                                    {{room}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" type="button" (click)="filter()">Filter</button>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="cards">
            <mat-card class="example-card" *ngFor="let house of obs | async">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{house.title}}</mat-card-title>
                    <mat-card-subtitle>{{house.city}}-{{house.municipality}}-{{house.microlocation}}</mat-card-subtitle>
                </mat-card-header>
                <img class="card-img" mat-card-image src={{house.image1}}>
                <mat-card-content>
                    SquareFootage : {{house.square}}
                    <br>
                    Rooms : {{house.rooms}}
                    <br>
                    Floor : {{house.floor}}
                    <br>
                    Description :
                    <br>
                    <p class="description">{{house.desc}}</p>
                    Price : {{house.price}}

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>DETAILS</button>
                    <button mat-button>FAVORITE</button>
                </mat-card-actions>
            </mat-card>

        </div>
        <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
    </div>
</div>