<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"><span *ngIf="element.type==0">Buyer</span>
            <span *ngIf="element.type==1">Seller</span>
            <span *ngIf="element.type==2">Admin</span></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"><span *ngIf="element.approved==1" class="approved">Approved</span>
            <span *ngIf="element.approved==-1"  class="denied">Denied</span>
            <span *ngIf="element.approved==0"  class="waiting">Waiting</span>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"><button type="button" mat-button color="primary" (click)="edit(element)">Edit</button> </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"><button type="button" mat-button color="warn" (click)="delete(element)">Delete</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>