.full-width-table {
 width: 100%;
}

 /* mat-paginator{
width: 100%;
} */

.container{
  width : 47%;
} 

.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card{
  width : 200px;
  margin  : 30px;
}

.search{
  display: flex;
 align-items: center;
  flex-direction: column;
}